


.toolbar-button {
    -fx-pref-width: 36px;
    -fx-pref-height: 36px;
    -fx-max-width: 36px;
    -fx-max-height: 36px;
    -fx-min-width: 36px;
    -fx-min-height: 36px;
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: none;
}

.chart-horizontal-grid-lines {
    -fx-stroke: none;
}
.chart {
	-fx-horizontal-zero-line-visible:	false;
	-fx-vertical-zero-line-visible:		false;
}


